{% extends 'house_layout.html' %}




{% block content %}
<div class="container">
<header class="house" style="height:40em" ></header>
<p> We bought a house! A very old house. 107 years old to be exact.
    She has good bones and appears to have been well maintained.
    We believe we have the vision, the dedication, and the skills to bring this
    lovely old house to a beautiful new stage in her life and are very excited to take on this challenge.
    Please join us on our adventure of making this old house our new home.
</p>
<p> - Laura, John & Montana</p>

<h2>Our Progress</h2>
<hr/>
{%   for post in articles %}

<section class="article">
<h3><a href="{{ url_for('house.article_show', id=post.id) }}">{{ post.title }}</a></h3>
<p>{{ post.html|truncate(200)| safe }}</p>
</section>

{% endfor %}
{% if user.get_id() %}
<a href="{{ url_for('house.article_create')}}">Create</a>

{% endif %}

</div>
{% endblock %}