{% extends 'wedding_layout.html' %}


{% block head %}
{{super()}}

<script type="text/javascript">

$( document ).ready(function() {


$('#attending').change(function(){
    val = !this.checked;
    $('#declining').prop('checked',val);
});


$('#declining').change(function(){
    val = !this.checked;
    $('#attending').prop('checked',val);
});


});



</script>

{% endblock %}


{% block content %}

<section id="ceremony">
    <header class="house"></header>
    <div class="'container">
        <div class="center heading">
            <h2>Ceremony</h2>

            <p> September 24, 2016 4:30 PM</p>

            <p> In the back yard garden of </p>

            <p> 323 Josephine St NE </p>

            <p> Atlanta GA. 30307</p>

            <p> Reception to follow</p>
        </div>

    </div>
</section>

<section id="reception">
    <header class="house"></header>
    <div class="'container">
        <div class="center heading">
            <h2>Reception</h2>

            <p> September 24, 2016 5:30 PM</p>

            <p><a href="http://www.wisteria-atlanta.com/"> Wisteria Restaurant </a></p>

            <p> 471 North Highland Ave </p>

            <p>Atlanta, GA. 30307</p>

        </div>

    </div>
</section>


<section id="lodging">
    <header class="atlanta"></header>
    <div class="'container">

        <div class="row heading">
         <h2 class="center"> Where to Stay</h2>
         </div>
        <div class="row">

            <div class="col-md-4 center">
                <h3> <a href="http://www.thegeorgianterrace.com">The Georgian Terrace</a></h3>
                <p> 659 Peachtree Street NE </p>
                <p>Atlanta, Georgia 30308</p>
                <p>1-800-651-2316 </p>
                <p> An historic atlanta hotel located in the southern part of midtown.
                    With its parisian inspired architecture
                    A short drive or ubur to the wedding and reception</p>

            </div>
            <div class="col-md-4 center">
                <h3> <a href="http://www.ellishotel.com">The Ellis Hotel</a></h3>
                <p> 176 Peachtree Street NW</p>
                <p>Atlanta, GA 30303,USA </p>
                <p>404-523-5155</p>
                <p> A hip hotel located in downtown. The sounds of mowtown greet guest
                    A short drive or ubur to the wedding and reception.</p>
            </div>

            <div class="col-md-4 center">
                <h3> <a href="http://www.thehighlandinn.com">The Highland Inn</a></h3>

                <p>644 N.Highland Ave</p>
                <p>Atlanta, Ga 30306</p>
                <p>404-874-5756 </p>
                <p> A hotel for the true hipster. Complete with hemp toilet paper and
                    vintage cigarette vending machine.
                    Walking distance to the wedding and reception.</p>

            </div>


        </div>
    </div>
</section>


<section id="rsvp">
    <header class="house"></header>
    <div class="'container">

        <div class="row">

            <div class="center">
                <h2> RSVP</h2>

                <p>The favor of your reply is requested by August</p>
            </div>
        </div>
        <div class="row heading">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

                <form id="RSVPform"  method="post" action="{{url_for('wedding.create_rsvp')}}">
                    {{ form.hidden_tag() }}
                    {% if form.id %}
                    {{ form.id() }}
                    {% endif %}
                    <div>
                        <span>
                        {{ form.honorific(style ="width:9%",placeholder="M")}}
                        {{ form.name(style ="width:90%") }}
                        </span>
                    </div>

                    <div class="checkbox">
                         <label>
                            {{form.attending(type="checkbox")}}
                            Attending with pleasure
                        </label>
                    </div>
                    <div class="checkbox">
                         <label>
                            {{form.declining(type="checkbox")}}
                             Declines with regrets
                        </label>


                    </div>

                    <div>
                    <span>Number Attending {{ form.number(type="number",style ="width:50px", placeholder="1") }}
                        <button type="'submit" class="btn btn-default pull-right">RSVP</button>
                    </span>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>


<section id="registry">
    <header class="house"></header>
    <div class="'container">
        <div class="row heading">
            <h2 class="center">Regestry </h2>
        </div>
        <div class="row heading">

            <div class="col-md-3 center">
                <a href="https://www.amazon.com/registry/wedding/300P52EESJPGZ">Amazon</a>
            </div>
            <div class="col-md-3 center">
                <a href="https://www.anthropologie.com/anthro/registry/listing?registryId=ZDFLNZUXZWQ5">Anthropologie</a>
            </div>
            <div class="col-md-3 center">
                <a href="http://www1.bloomingdales.com/registry/wedding/guest/?registryId=6497269">Bloomingdale's</a>
            </div>


            <div class="col-md-3 center">
                <a href="http://www.crateandbarrel.com/gift-registry/laura-daniel-and-john-edenfield/r5441761"> Crate
                    and Barrel</a>
            </div>


        </div>

    </div>
</section>


</div>
{% endblock %}