{% extends "layout.html" %}

{% block content %}

    <h2>Edit Article</h2>



    <form action="{{request.query_string}}" method=post>
        {{ form.hidden_tag() }}
        <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.body.label }} <a href="https://daringfireball.net/projects/markdown/basics">Markdown Syntax</a>
            {{ form.body(class_="form-control",rows=10) }}
            <!-- {{ form.body(**{'data-provide':'markdown'}) }} -->
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>


    </form>

    <a href="{{ url_for('upload_photo', id=article.id) }}">Upload Photos</a>


    <div class="row">
        {% for photo in photos %}

        {% set rotclass = 'rot' + photo.rotate|string %}
        <div class="col-md-4">

            <a href="{{url_for('edit_photo',id =photo.id) }}" data-gallery>
                <img class="thumb {{rotclass}} " src="{{photo.file_url}}">
            </a>
            <p>{{photo.caption}}</p>
        </div>
    {% endfor %}

    </div>


    <div class="row">
    <div class="pull-right">
        <a href="{{ url_for('article_delete', id=article.id, slug=article.slug) }}">Delete Post</a>
    </div>
    </div>


</hr>
{% endblock %}