{% extends 'layout.html' %}
{% block content %}

    <header>

    </header>

    <p> We bought a house! A very old house. 105 years old to be exact.
        She has good bones and appears to have been well maintained over her life.
        We believe we have the vision, the dedication, and the skills to bring this
        lovely old house to a beautiful new stage in her life. We are very excited to take on this responsibility.
        Please join us on our adventure of making this old house our new home.
    </p>
    <p> - Laura, John & Montana</p>

    <h2>Our Progress</h2>
    <hr/>
    {%   for post in articles %}
    <h3><a href="{{ url_for('show_article', id=post.id, slug=post.slug) }}">{{ post.title }}</a></h3>
    <p>{{ post.html|truncate(200)| safe }}</p>

    <hr/>


    {% endfor %}
     {% if user.get_id() %}
     <a href="{{ url_for('article_create')}}">Create</a>

    {% endif %}
{% endblock %}