{% extends 'layout.html' %}


{% block content %}

<section id="heading">
    <div class="container center">
        <h2>Laura & John </h2>

    </div>
    <hr>
</section>

<section id="wedding_photo">
    <header class="ski_pc">
    <p></p>
    </header>

</section>

<section id="wedding">

        <div class="container ">
            <div class="center heading">
                 <h2>
                <a href="{{url_for('wedding.index')}}">
                    Wedding
                </a>
                </h2>
                <p class="large">September 24, 2016 &nbsp&middot&nbsp Atlanta, Georgia</p>
            </div>
        </div>


</section>


<section id="house_photo">
    <header class="home_montana">

    </header>

</section>


<section id="house">

        <div class="container">
            <div class="center heading">
             <h2>
            <a href="{{url_for('house.all_articles')}}">
                323 Josephine St
            </a>
            </h2>
            <p class="large"> We bought a house</p>
        </div>
    </div>

</section>


 {% if user.get_id() %}
<section>
     <div class="center">
            <a href="{{ url_for('log_user_out') }}">Logout</a>

     </div>

    {% endif %}
</section>
{% endblock %}
