{% extends 'layout.html' %}


{% block content %}

<section id="heading">
    <div class="container center">
        <h1>Laura and John </h1>

    </div>
    <hr>
</section>

<section id="wedding_photo">
    <header class="wedding">

    </header>

</section>

<section id="wedding">

        <div class="container ">
            <div class="center heading">

                <a href="{{url_for('wedding.index')}}">
                    <h2> Wedding </h2>
                </a>

                <p> September 24, 2016</p>

                <p> Atlanta GA</p>
            </div>
        </div>


</section>


<section id="house_photo">
    <header class="house">

    </header>

</section>


<section id="house">

        <div class="container">
            <div class="center heading">

            <a href="{{url_for('house.all_articles')}}">
                <h2> 323 Josephine St NE </h2>
            </a>

            <p> We bought a house and we are fixing it up</p>
        </div>
    </div>

</section>


{% endblock %}